@page
@model RazorPagesApp.Pages.Music.AlbumsModel
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Albums</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Artist.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Albums)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist.Title)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AlbumId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.AlbumId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.AlbumId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p><strong>Total albums:</strong> @Model.TotalAlbums</p>

    @{
        var prevDisabled = Model.PageNum <= 1 ? "disabled" : "";
        var nextDisabled = Model.PageNum >= (Convert.ToInt32(Math.Floor((double)(Model.TotalAlbums / Model.PageSize))) + (Model.TotalAlbums % Model.PageSize > 0 ? 1 : 0)) ? "disabled" : "";
    }

    <a asp-page="./Albums"
       asp-route-pageNum="@(Model.PageNum - 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <strong>Page </strong>@Model.PageNum
    <a asp-page="./Albums"
       asp-route-pageNum="@(Model.PageNum + 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-default @nextDisabled">
        Next
    </a>
    <strong>Page size: </strong>
    <select asp-for="@Model.SelectedPageSizeVal" asp-items="@Model.pageSizes" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"></select>
</body>
</html>
