@page
@model RazorPagesApp.Pages.Music.AlbumsModel
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Albums</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Artist.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Albums)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist.Title)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AlbumId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.AlbumId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.AlbumId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
